In [12]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('variables-and-datatypes')
jovian.set_colab_id('110znf1EZms1UpfuwIfqohbRMJd93B2F4')

Following are some exercises you can try out with list methods (use the blank code cells below):

* Reverse the order of elements in a list
* Add the elements of one list at the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

In [ ]:
# Reverse the order of elmts in a list

fruits = ['apple', 'cherry', 'tomato', 'guava', 'dates']

fruits_reversed = fruits[::-1]
print(fruits_reversed)
print('*' * 50)
fruits_reversed1 = fruits.reverse()
print(fruits_reversed)

['dates', 'guava', 'tomato', 'cherry', 'apple']
**************************************************
['dates', 'guava', 'tomato', 'cherry', 'apple']

In [ ]:
# Sort a list of strings in alphabetical order
fruits_sorted = sorted(fruits)
fruits_sorted

['apple', 'cherry', 'dates', 'guava', 'tomato']

In [ ]:
# Sort a list of numbers in decreasing order
import random

numbers = []

for i in range(10):
  numbers.append(random.randint(1,100))
  
print(sorted(numbers, reverse=True))

[93, 88, 82, 81, 72, 38, 35, 15, 13, 6]

# Dictionary

In [ ]:
john_doe = dict(name='John Doe', sex='Male', age=32, married=True)
john_doe

{'age': 32, 'married': True, 'name': 'John Doe', 'sex': 'Male'}

The results of keys, values, and items look like lists. However, they don't support the indexing operator [] for retrieving elements.

Can you figure out how to access an element at a specific index from these results? Try it below. Hint: Use the list function

In [ ]:
john_doe_item = list(john_doe.items())
john_doe_item

[('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)]

In [ ]:
john_doe_item[0][1]

'John Doe'

In [ ]:
john_doe_value = list(john_doe.keys())
john_doe_value

['name', 'sex', 'age', 'married']

In [ ]:
john_doe_value[0]

'name'

In [ ]:
coord = [(k,v) for k,v in john_doe.items()]
coord

[('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)]

Here are some experiments you can try out with dictionaries (use the empty cells below):
* What happens if you use the same key multiple times while creating a dictionary?
* How can you create a copy of a dictionary (modifying the copy should not change the original)?
* Can the value associated with a key itself be a dictionary?
* How can you add the key-value pairs from one dictionary into another dictionary? Hint: See the `update` method.
* Can the dictionary's keys be something other than a string, e.g., a number, boolean, list, etc.?

In [2]:
# What happens if you use the same key multiple times while creating a dictionary?

jane_jury = dict(name='jane ury', sex='Female', name='jane.J', age=23, married=False)
jane_jury

SyntaxError: ignored

In [4]:
# How can you create a copy of a dictionary (modifying the copy should not change the original)?

jane_jury = dict(name='jane jury', sex='Female', age=23, married=False)

jane_jury_copy = jane_jury.copy()
print(jane_jury_copy)

{'name': 'jane jury', 'sex': 'Female', 'age': 23, 'married': False}

In [5]:
jane_jury_copy['married'] = True
jane_jury_copy['adress'] = '129, CA'

print(jane_jury)
print('*' * 40)
print(jane_jury_copy)

{'name': 'jane jury', 'sex': 'Female', 'age': 23, 'married': False}
****************************************
{'name': 'jane jury', 'sex': 'Female', 'age': 23, 'married': True, 'adress': '129, CA'}

In [6]:
# Can the value associated with a key itself be a dictionary?

jane_jury['family'] = dict(father='Alan Jury', mother='Juliana Jury', brother='John Jury')
jane_jury

{'age': 23,
 'family': {'brother': 'John Jury',
  'father': 'Alan Jury',
  'mother': 'Juliana Jury'},
 'married': False,
 'name': 'jane jury',
 'sex': 'Female'}

In [7]:
# How can you add the key-value pairs from one dictionary into another dictionary? 
# Hint: See the update method.

jane_jury.update(jane_jury_copy)
jane_jury

{'adress': '129, CA',
 'age': 23,
 'family': {'brother': 'John Jury',
  'father': 'Alan Jury',
  'mother': 'Juliana Jury'},
 'married': True,
 'name': 'jane jury',
 'sex': 'Female'}

In [8]:
# Can the dictionary's keys be something other than a string, 
# e.g., a number, boolean, list, etc.?

f"yes, provided the keys are immutable."

'yes, provided the keys are immutable.'